#catalogo{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 200px auto;
    justify-content: center;
}

#catalogo img{
    width: 100px;
    height: 100px;
}

header{
    background-color: grey;
    height: 100px;
    margin: 0px 0px;
}
