#contenedorFormulario{
    background-color: grey;
    width: 25%;
    height: 500px;
    margin: 10% auto;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   box-shadow: 0px 8px 15px #aaa;
   border-radius: 15px 15px 15px 15px;

}
form{
    margin: 100px 20px;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

form label{
    display: block;
    margin-bottom: 5px;
}

form .campo{
  margin-bottom: 15px; 
  width: 100%;
}

form input{
    width: 100%;
}